<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.karimkaylani.sonoscontroller</string>
	<key>connections</key>
	<dict>
		<key>19F116FC-7889-4B23-B424-20F96978D25D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8A22ABF-8659-4C97-951A-DA46F8A3CB7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>929C63D0-0FB5-48B3-BF58-3ECFF207B9FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8A22ABF-8659-4C97-951A-DA46F8A3CB7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8A22ABF-8659-4C97-951A-DA46F8A3CB7C</key>
		<array/>
		<key>F6BCAD2F-55FE-4A48-A3F1-EB537C57B3D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8A22ABF-8659-4C97-951A-DA46F8A3CB7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Karim Kaylani</string>
	<key>description</key>
	<string>Control playback of your Sonos straight from Alfred!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SonosController</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python sonos.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8A22ABF-8659-4C97-951A-DA46F8A3CB7C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>soco</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching Sonos devices</string>
				<key>script</key>
				<string>python sonos.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Control your Sonos from Alfred</string>
				<key>title</key>
				<string>Sonos Controller</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>19F116FC-7889-4B23-B424-20F96978D25D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Bedroom; plpau</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F6BCAD2F-55FE-4A48-A3F1-EB537C57B3D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Living Room; next</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>929C63D0-0FB5-48B3-BF58-3ECFF207B9FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Features

Play, Pause, Next, Previous

Set/Change Volume

View Queue

Play Songs from Queue (only tested on Spotify playing through Sonos app)

Switch to line-in playback (if supported on device)

Control Shuffle/Repeat


Usage

Type soco into Alfred, select or search for your device, and then control it on the following screen


Hotkeys

Hotkeys are added by adding a hotkey trigger on the flowchart and connecting it to the run script block with a text argument that follows this syntax

(sonosName); (command)

ex: Bedroom; next


Commands:

plpau - Play/Pause Sonos device

play - Play Sonos device

pause - Pause Sonos device

volpcg [value] - Set volume to specified value (ex. Bedroom; volpcg 50)

chvol [value] - Change volume by a specified value

next - Go to the next song

previous - Go to the previous song

linein - Switch playback to line-in

enshuffle - Enable shuffle and disable repeat

disshuffle - Disable shuffle and disable repeat

enrepeat - Enable repeat and disable shuffle

enshuffrep - Enable shuffle and repeat

plqueue [position in queue] - Play a song in a certain position in queue (only tested on Spotify playing through Sonos app)


Troubleshooting


If you find yourself getting the No Speakers Found error, it may be due to an incorrect interface address. This can be caused by having a VPN active, which unfortunatley Sonos does not support.

If you are still recieving this error, you can try manually setting the interface address to your local IP address on your machine (which can be found under your Network settings) by doing the following:

Open Alfred Preferences -&gt; Workflows -&gt; SonosController and press the [x] button in the top right corner

Double click under the value column on interface_address and enter in the address of your local IP


Acknowledgements


This workflow was built using deanishe's Alfred-Workflow

Huge shoutout to the team behind SoCo which this workflow uses heavily


License

This workflow is released under the MIT license</string>
	<key>uidata</key>
	<dict>
		<key>19F116FC-7889-4B23-B424-20F96978D25D</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>929C63D0-0FB5-48B3-BF58-3ECFF207B9FB</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>D8A22ABF-8659-4C97-951A-DA46F8A3CB7C</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>F6BCAD2F-55FE-4A48-A3F1-EB537C57B3D1</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>interface_address</key>
		<string></string>
	</dict>
	<key>version</key>
	<string>1.4</string>
	<key>webaddress</key>
	<string>https://github.com/karimkaylani/alfred-sonoscontroller</string>
</dict>
</plist>
